@import 'functions';

@mixin box{
    min-width: 1170px;
    margin:0 auto;
    padding: 1.5rem 0;
    width: 90%;
    position: relative;
}
 
@mixin flex-center{
    display: flex;
    justify-content: space-evenly;
}

$imgs:("Carne Grelhada": "beef-g66eb2a540_1920.jpg",
"Bacon com Ovos": "breakfast-ga9b591474_1920.jpg",
"Penne a Bolonhesa": "noodles-7390775_1920.jpg",
"Sopa de Batatas": "potato-soup-2152265_1920.jpg",
"Sopa de Arroz": "rice-noodles-855077_1920.jpg",
"Salada Mix": "salad-gf22844a91_1920.jpg",
"Costela Ribs": "spare-ribs-7410906_1920.jpg",
"Sushi": "sushi-354628_1920.jpg",
"Taco": "taco-4709325_1920.jpg");

$n:0;
@each $titulo,$url in $imgs{
    $n:$n+1;
    #card#{$n}{
        background-image: url(/images/produtos/#{$url});
        background-size: cover;

        & h2::before{
            content:'#{$titulo}';
            display: block;
            background-color:rgba(0,0,0,0.4);
            color: #fff;
            padding: 1rem 0.5rem;
        }
    }
}
