@use "variaveis" as v;
@use "mixins" as mx;

*{
    font-family: v.$fonte;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    @include mx.box;
    background-image: url(v.$bgHome);
    background-size: 100%;
    background-position-y: -300px;
}

.header-heightMiddle{
    height: 300px;
    border: 1px solid #000;
}

.logo__slogan{
    font-size: 3rem;
    text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
}

.navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: v.$bgColorNav;
}

.navbar__nav, .socialMedia__icones{
    list-style: none;
}

.navbar__link{
    color: v.$link;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;

    &:hover{
        color:v.$linkHover;
    }
}

.m-1{
    margin: v.$m1;
}

.mx-1{
    margin: v.$mx1;
}

.p-1{
    padding: v.$p1;
}

.text-white{
    color: v.$linkHover;
}

.container {
    @include mx.flex-center;
}