@use 'variaveis' as v;
@use 'mixins' as mx;
@use 'extends';


.header{
    @include mx.box;
    background-image: url(mx.bgImage(v.$bgHome_1));
    // background-image: url(v.$bgHome);
    background-size: 100%;
    background-position-y: -300px;
}

.header-heightMiddle{
    height: 300px;
    border: 1px solid #000;
}

.logo__slogan{
    font-size: 3rem;
    text-shadow: 2px 2px 1px rgba(1, 1, 8, 0.6);
}

.navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: v.$bgColorNav;
    &__nav{
        @extend %list-none;
    }
    &__link{
        color: v.$link;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
    
        &:hover{
            color:v.$linkHover;
        }
    }
}

.socialMedia__icones{
    @extend %list-none;
}

.m-1{
    margin: v.$m1;
}

.mx-1{
    margin: v.$mx1;
}

.p-1{
    padding: v.$p1;
}

.text-white{
    color: v.$linkHover;
}

.container {
    @include mx.flex-center;
}

@media(max-width:1170px) {
    .header,.navbar__nav{
        flex-flow: column;
        min-width: 100%;
    }
    .navbar{
        z-index: 1;
    }

    .socialMedia{
        z-index: 2;
        &__icones{
            flex-flow: column;
        }
        &__item{
            margin: v.$m1;
        }
    }
    }